@model AutoService.WebUI.Entities.Car

@{
    ViewData["Title"] = "Araç Oluştur";
}

<h1>Araç Oluştur</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Model" class="control-label">Model</label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label">Renk</label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Fiyat</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseType" class="control-label">Kasa Tipi</label>
                <input asp-for="CaseType" class="form-control" />
                <span asp-validation-for="CaseType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelYear" class="control-label">Model Yılı</label>
                <input asp-for="ModelYear" class="form-control" />
                <span asp-validation-for="ModelYear" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" />Müsait mi?
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label">Notlar</label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plate" class="control-label">Plaka</label>
                <input asp-for="Plate" class="form-control" />
                <span asp-validation-for="Plate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label">Marka</label>
                <select asp-for="BrandId" class ="form-select" asp-items="ViewBag.BrandId"></select>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



